# Dependencies
node_modules/

# Build artifacts
build/
prebuilds/
target/

tree-sitter-nats_server_conf.wasm
libtree-*.a
libtree-*.so
src/*.o

# OS files
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Logs
*.log
.task/
